<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mysql面试题</title>
</head>
<body>
<h1 style="color: red">MySQL面试题</h1>
<a href="https://www.runoob.com/mysql/mysql-tutorial.html" target="_blank">
<img src="/static/1.webp"style="height: 100px;width:100px;">
</a>
   <div>1.MySQL 索引使用有哪些注意事项呢？索引哪些情况会失效 索引不适合哪些场景 索引的一些潜规则
   <a href="/get/news" target="_blank">查看答案</a>
      </div>
      <div>2.MySQL 遇到过死锁问题吗，你是如何解决的？</div>
      <div>3. 日常工作中你是怎么优化SQL的？</div>
      <div>4. 说说分库与分表的设计 分库分表方案: 常用的分库分表中间件： 分库分表可能遇到的问题</div>
      <div>5.InnoDB与MyISAM的区别</div>
<ul>
    <li>
      6. 数据库索引的原理，为什么要用 B+树，为什么不用二叉树？
         为什么不是一般二叉树？
         为什么不是平衡二叉树呢？
         那为什么不是B树而是B+树呢？  </li>
      <li> <div>7. 聚集索引与非聚集索引的区别 何时使用聚集索引或非聚集索引？</div>  </li>
      <li>8. limit 1000000 加载很慢的话，你是怎么解决的呢？  </li>
      <li>9. 如何选择合适的分布式主键方案呢？  </li>
      <li>10. 事务的隔离级别有哪些？MySQL的默认隔离级别是什么？  </li>

</ul>


<table border="1">

    <thead>
        <tr>
            <th>数据结构与算法</th>
            <th> 操作系统</th>
        </tr>
    </thead>
    <tbody>
        <tr>

           <td >
               <a href="https://www.runoob.com/data-structures/binary-search-tree.html" target="_blank">二分法</a>

           </td>

            <td> 智能</td>
        </tr>
    </tbody>
</table>




</body>
</html>